html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}


.game {
  box-sizing: border-box;
  width: 600px;
}

.board {
  border: 2px solid rebeccapurple;
  width: 600px;
}

.row {
  height: 30px;
  width: 600px;
}

.tile {
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  opacity: 0.5;

  transition: opacity 0.1s ease-in-out;
}

.plant {
  background: forestgreen;
}

.gardener {
  position: absolute;
  background: yellow;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.outline {
  border: 1px solid lightblue;
}

.nursery-slot {
  display: inline-block;
  width: 50px;
  height: 40px;

  text-align: center;
  color: black;

  line-height: 40px;

  margin: 20px;
}

.selected {
  border: 1px solid white;
}

.active {
  opacity: 1;
}
